<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="p-grid p-justify-center p-align-center geralContainer">
  <!-- class vertical-container-->
  <div class="p-col-10 mainBoxContainer">
    <div class="p-grid" style="height: 102%;">
      <div #chatContainer (scroll)="checkScroll()" class="p-col-12 p-md-12 p-lg-12 chatContainer">

        <!-- Template HTML de cada mensagem -->
        <div *ngFor="let message of allMessages;"
          ngClass="{{ 'p-grid' }} {{ 'msg' }} {{ message.id == id ? 'p-justify-end' : message.id != -999 ? 'p-justify-start' : 'p-justify-center' }}">
          <p-overlayPanel #op>
            <ng-template pTemplate>
              <h3 style="text-align: center;">Mensagem criptografada</h3>
              {{message.bodyEncrypted}}
            </ng-template>
          </p-overlayPanel>
          <div
            ngClass="{{ 'p-col-12' }} {{ 'p-md-10' }}  {{ 'p-lg-8' }} {{ message.id == id ? 'msgBodyMe' : 'msgBodyThey' }}"
            (click)="op.toggle($event)" style="cursor: pointer;" *ngIf="message.id != -999">
            <div class="msgHeaderContainer">
              <p class="msgHeaderTxt">
                {{ message.id == id ? 'eu' : (message.from + ' [' + message.id + ']')}}
              </p>
            </div>
            <p-scrollPanel [style]="{width: '90%', height: '90%' }">
              <p>{{message.body}}</p>
            </p-scrollPanel>
            <div class="msgFooterContainer">
              <p class="msgFooterTxt">{{ message.data }}</p>
            </div>
          </div>
          <div ngClass="{{ 'p-col-12' }} {{ 'p-md-6' }}  {{ 'p-lg-4' }} {{ 'msgBodySystem' }}"
            *ngIf="message.id == -999">
            <p>{{message.body}}</p>
          </div>
        </div>
        <!-- Fim template HTML das mensagens -->

      </div>

      <!-- Footer -->
      <div class="p-col-12 chatFooterContainer">

        <div class="p-grid p-justify-center">
          <!-- Dialog com as informações do usuário conectado -->
          <p-dialog header="Info" [(visible)]="showInfoDialog" [modal]="true" [style]="{width: '50vw'}"
            [baseZIndex]="10000">
            <p><span style="font-weight: bold; color:forestgreen" *ngIf="isConnected"><i
                  class="pi pi-check"></i>Conectado</span></p>
            <p><span style="font-weight: bold; color: mediumslateblue;" *ngIf="isChatting"><i
                  class="pi pi-comments"></i>Em chat</span></p>
            <p style="word-break: break-word;"><span style="font-weight: bold;">ID: </span> {{id}}</p>
            <p style="word-break: break-word"><span style="font-weight: bold;">Nome: </span>{{name}}</p>
            <p style="word-break: break-word"><span style="font-weight: bold;">SocketId: </span>{{socketId}}</p>
            <p style="word-break: break-word"><span style="font-weight: bold;">Hoster: </span>{{chatHoster}}</p>
            <p-accordion>
              <p-accordionTab header="Private Key" style="word-break: break-all;">
                {{privateKey}}
              </p-accordionTab>
              <p-accordionTab header="Public Key" style="word-break: break-all;">
                {{publicKey}}
              </p-accordionTab>
              <p-accordionTab header="Symmetric Key" style="word-break: break-all;">
                {{symKey}}
              </p-accordionTab>
            </p-accordion>
          </p-dialog>

          <!-- Chat iniciado -->
          <div class="p-grid p-justify-center" style="width: 100% !important; padding-top: 15px;"
            *ngIf="isConnected && isChatting">
            <!-- Botão com infos -->
            <div class="p-col-12 p-md-2 p-lg-1">
              <button pButton type="button" label="Info" icon="pi pi-info" class="ui-button-warning"
                pTooltip="Informações" (click)="showInfoDialog = true"></button>
            </div>
            <!-- Input -->
            <div class="ui-inputgroup p-col-12 p-md-8 p-lg-9">
              <input type="text" style="font-size: medium !important; width: 100%;" placeholder="Mensagem..." required
                [(ngModel)]="msgBody" (keyup.enter)="send()" (input)="typing()" autofocus>
              <button pButton [disabled]="!msgBody" class="ui-button-success"
                pTooltip="{{msgBody ? '' : 'A mensagem não pode estar vazia'}}" tooltipPosition="bottom"
                icon="pi pi-comment" (click)="send()" style="margin-left: 10px;"></button>
            </div>
          </div>

          <!-- Usuário conectado chat não iniciado -->
          <div class="p-grid p-justify-center" style="width: 100% !important; padding-top: 15px;"
            *ngIf="isConnected && !isChatting">
            <!-- Botão com infos -->
            <div class="p-col-12 p-md-2 p-lg-1">
              <button pButton type="button" label="Info" icon="pi pi-info" class="ui-button-warning"
                pTooltip="Informações" (click)="showInfoDialog = true"></button>
            </div>
            <!-- Input -->
            <div class="ui-inputgroup p-col-12 p-md-8 p-lg-9">
              <input type="text" style="font-size: medium !important; width: 85%;" placeholder="Chave simétrica"
                required [(ngModel)]="symKey" (keyup.enter)="startChat()" [disabled]="symKeyValid" autofocus
                pTooltip="Digite uma chave simétrica qualquer">
              <button pButton label="Entrar" [disabled]="!symKey"
                pTooltip="{{symKey ? '' : 'Chave simétrica é obrigatória para iniciar chat'}}" tooltipPosition="bottom"
                icon="pi pi-comments" (click)="startChat()" style="margin-left: 10px; word-break: break-all;"></button>
            </div>
          </div>

          <!-- Usuário desconectado -->
          <div class="p-grid p-justify-center" style="width: 100% !important; padding-top: 15px;" *ngIf="!isConnected">
            <!-- Botão de infos -->
            <div class="p-col-12 p-md-2 p-lg-1">
              <button pButton type="button" label="Info" icon="pi pi-info" class="ui-button-warning"
                pTooltip="Informações" (click)="showInfoDialog = true"></button>
            </div>
            <!-- Input -->
            <div class="ui-inputgroup p-col-12 p-md-8 p-lg-9">
              <input type="text" style="width: 80%; font-size: medium !important;" placeholder="Username" required
                [(ngModel)]="name" (keyup.enter)="connect()" autofocus [disabled]="!publicKey && !privateKey"
                pTooltip="{{privateKey && publicKey ? '' : 'Gerando par de chaves assimétricas'}}">
              <button pButton label="Login" [disabled]="!name || btnWait"
                pTooltip="{{name ? '' : 'Nome é obrigatório para conexão'}}" tooltipPosition="bottom"
                icon="pi pi-sign-in" (click)="connect()" style="margin-left: 10px; word-break: break-all;">
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Extra stuff -->
  <!-- Botão para scroll to bottom -->
  <div *ngIf="showBtnScroll" style="position: fixed; top: 25px; right: 25px;">
    <button pButton type="button" pTooltip="Scroll to bottom" tooltipPosition="bottom"
      class="ui-button-rounded ui-button-success" icon="pi pi-angle-double-down" (click)="forceScroll()">
    </button>
  </div>

  <!-- Info de alguém está digitando -->
  <div style="position:fixed;bottom: 16%;left: 10%; z-index: 9999; width: 25px;" *ngIf="theyTyping && isChatting">
    <button pButton type="button" pTooltip="Alguém está digtando" disabled class="ui-button-rounded ui-button-secondary"
      icon="pi pi-ellipsis-h">
      <p-progressBar mode="indeterminate" [style]="{'height': '3px'}"></p-progressBar>
    </button>
  </div>

</div>